.container{
    display: grid;
    font-size: larger;
}

.container button{
    margin: auto;
    width: 100px;
    height: 40px;
}

.container button:hover{
    cursor: pointer;
}

.child{
    width: 800px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
}